/* src/App.css */

/* Styling for the container */
.App {
    background-color: #00bf63;
    border: 2px solid #e08916;
    padding: 20px;
    border-radius: 8px;
    margin: 16px 0;
    box-shadow: 12px 12px 18px rgba(0, 0, 0, 1);
    outline: 2px solid #ffdf2b;
    font-family: 'Arial', sans-serif; /* Replace with your desired font family */
    font-size: 16px;
    max-width: 500px;
}

/* Styling for headings */
h1 {
    font-family: 'Helvetica', sans-serif; /* Change font family for headings */
    font-size: 24px; /* Change font size for headings */
    max-width: 300px;
}

/* Styling for paragraphs */
p {
    font-family: 'Georgia', serif; /* Change font family for paragraphs */
    font-size: 20px; /* Change font size for paragraphs */
}

.dark-grey-highlight {
    background-color: #888; /* Change the color to your desired shade of grey */
    padding: 10px; /* Adjust padding as needed */
    width:55%; /* Adjust the width as needed */
    border-radius: 8px; /* Add any other styles you want for the highlight */
    box-shadow: 12px 12px 18px rgba(0, 0, 0, 1);
}